<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>

    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p  %X{loginame} %-32F:%L - %m%n"/>
    </Console>

    <File name="parsegpx" fileName="log/parsegpx.log" append="true">
      <PatternLayout pattern="%-32c  %d{yyyy-MM-dd HH:mm:ss} %-5p: %m%n"/>
    </File>

  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="console"/>
      <AppenderRef ref="parsegpx"/>
    </Root>
  </Loggers>

</Configuration>